#header{
    /* background: rgb(36, 14, 97); */
    /* height: 10vh; */
    padding: 0;
    color: white;
}
#header h1{
text-align: left;
padding-left: 10px;
font-size: 14pt;
margin:0 0;
padding: 10px 0;
padding-left: 6%;

background-color: rgb(16, 16, 34);

}
#header h2{
    margin: 0;
    text-align: center;
    height: 20vh ;
    padding-top: 5vh;
    background: url(../img/background.jpg);

}
main h3{
    text-align: center;
}

.slide{
    background: black;
    height: 10vh;
}
.form{
    background: bisque;
    height: 10vh;
}
.txt{
    background: rosybrown;
    height: 10vh;
}
.chat{
    background: darkblue;
    height: 10vh;
}
/************FOOTER*****************/
.footer{
    background: navy;
    height: 10vh;

}